body {
    background-color: rgba(205, 200, 200, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: darkslategray;
    padding: 1em 1em;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    color: darkslategray;
    padding: 1em 1.5em;
    text-decoration: none;
    text-align: center;
}

p {
    color: darkslategray;
    padding: 1em 1.5em;
    text-decoration: none;
    text-align: center;
}
canvas{
    box-shadow: black 20px 10px 50px;
}