body {
  background-color: rgba(205, 200, 200, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: darkslategray;
  padding: 0em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  color: darkslategray;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  max-width: 500px;
}
h2 {
  color: darkslategray;
  padding: 0em 1.5em;
  text-decoration: none;
  text-align: center;
  max-width: 500px;
  font-size: large;
}

p {
  color: darkslategray;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  max-width: 500px;
}

figcaption {
  color: darkslategray;
  padding: 0em 0em;
  text-decoration: none;
  text-align: center;
  max-width: 500px;
}

figure {
  margin: 5px;
}

canvas {
  margin: 5px;
  box-shadow: black 20px 5px 50px;
}
.row {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
}
